*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 80px;
    background: linear-gradient(to right,#EF612E,#F16F12);
}
nav a img{
    float: left;
    margin-left: 100px;
}
nav .search-box{
    float: left;
    margin-left: 10%;
    margin-top: 17px;
    background: #fff;
}
.search-box{
    border-radius: 30px;
    border: 3px solid #32e17c;
}
nav input{
    padding: 12px;
    padding-left: 30px;
    border: none;
    width: 600px;
    border-radius: 30px;
}
nav .search-box .fa{
    float: right;
    padding: 12px;
    border: none;
    background: #f1f1f1;
    border-radius: 50%;
    cursor: pointer;
}
.dropdown{
    float: right;
    margin-right: 3%;
}
.dropdown button{
    position: relative;
    width: 150px;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
    background: #F8A476;
    border: none;
    box-shadow: none;
    cursor: pointer;
    outline: none;
    color: #fff;
}
.dropdown ul{
    list-style: none;
    position: absolute;
    margin-top: 20px;
    padding: 0;
    width: 150px;
    transform-origin: top;
    transition: 0.5s;
    transform: perspective(1000px) rotateX(-90deg);
}
.dropdown ul.active{
    transform: perspective(1000px) rotateX(0deg);
}
.dropdown ul li a{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(to right,#EF612E,#F16F12);
    color: #fff;
    border-bottom: 1px solid #FCF1F1;
    
}
.dropdown ul li a:hover{
    background: #F8A476;
}
.dropdown .fa{
    margin-right: 8px;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
#column1,#column3{
    width: 17%;
    height: 900px;
    background: #F08731;
    border: none;
}
#column2{
    width: 66%;
}
#column1 ul li,#column3 ul li{
    display: block;
    list-style: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
#column1 ul li a,#column3 ul li a{
    text-decoration: none;
    color: #fff;
}
#column1 ul li:hover,#column3 ul li:hover{
    background: #F8A476;
}
th{
    padding-top: 5px;
    padding-bottom: 5px;
}
.tb{
    width: 100%;
}
td{
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 9px;
}
#mytable tr.header,#mytable tr:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}
#cl{
    text-align: center;
}
#column2 #mytable{
    width: 100%;
}




